html{
    background-color: black;
    text-align: center;

}

img{
    margin: 30px;
    border: 15px solid whitesmoke;
}

h1{
    color: white;
    font-family: "Libre Baskerville";
    text-transform: uppercase;
}

p{
    color: white;
}